{{define "title"}}mkrepo{{end}}

{{define "content"}}
<div class="flex-grow-1 d-flex justify-content-center align-items-center">
  <div class="container text-center border rounded p-4 shadow" style="max-width: 500px; background: white;">
    <h1 class="display-1"><code>mkrepo</code></h2>
    <form action="/new" method="get">
      <div class="row g-2">
        <div class="input-group mb-3">
          <input type="text" id="name" name="name" class="col-9 form-control" placeholder="New repo name" required data-1p-ignore>
          <button type="submit" class="col-3 btn btn-success">Next</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{end}}
