{{define "title"}}New repo{{end}}

{{define "content"}}
<div class="container" style="max-width: 700px;">
  <a href="/" class="text-decoration-none"><h1><code>mkrepo</code></h1></a>
  <hr class="my-3">

  <form action="/new" method="post">
    <div class="row g-2">
      <div class="col-3">
        <label for="provider" class="form-label mb-0"><small><b>Provider</b></small></label>
        <select id="provider" class="form-select" name="provider">
          {{range $key, $provider := .Providers}}
          <option value="{{$key}}" {{if eq $key $.SelectedProvider}}selected{{end}}>{{$provider.Name}}</option>
          {{end}}
        </select>
      </div>
      <div class="col-3">
        <label for="owner" class="form-label mb-0"><small><b>Owner</b></small></label>
        <select id="owner" class="form-select" name="owner">
          {{range .Owners}}
          <option value="{{.Namespace}}" path="{{.Path}}">{{.DisplayName}}</option>
          {{end}}
        </select>
      </div>
      <div class="col">
        <label for="name" class="form-label mb-0 text-small"><small><b>Name</b></small></label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{.Name}}" required data-1p-ignore>
      </div>
      <p class="mt-2">{{(index .Providers .SelectedProvider).Url}}/<span id="url-path"></span></p>
    </div>
    <div class="row g-2">
      <div class="col">
        <label for="description" class="form-label mb-0"><small><b>Description</b></small></label>
        <input type="text" class="form-control" id="description" name="description">
      </div>
    </div>
    <hr class="my-3">

    <h3>Visibility</h3>
    <div class="form-check">
      <input type="radio" class="form-check-input" id="private" name="visibility" value="private" checked>
      <label for="private" class="form-check-label">Private</label><br>
      <input type="radio" class="form-check-input" id="public" name="visibility" value="public">
      <label for="public" class="form-check-label">Public</label>
    </div>
    <hr class="my-3">

    <h3>Initialize repository</h3>
    <div class="row g-2" id="choose-template-btn">
      <div class="col">
        <button class="btn btn-outline-secondary btn-no-hover" style="color: black" type="button" data-bs-toggle="modal" data-bs-target="#templateModal">Choose template</button>
      </div>
    </div>
    <div class="row g-2" style="display: none" id="selected-template-btn">
      <div class="col">
        <button class="btn btn-outline-secondary btn-no-hover" style="color: black" type="button"></button>
      </div>
    </div>
    <input type="hidden" class="form-control" id="template" name="template">

    <div class="modal fade" id="templateModal" tabindex="-1" aria-labelledby="templateModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="templateModalLabel">Templates</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" class="form-control mb-2" id="template-search" placeholder="Search template">
            <div class="list-group" id="template-results"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-2 my-1">
      <div class="col form-check">
        <input type="checkbox" class="form-check-input" id="readme" name="readme" value="" checked>
        <label for="readme" class="form-check-label">Add <code>README.md</code></label>
      </div>
    </div>
    <div class="row g-2 my-1">
      <div class="col-4">
        <label for="gitignore" class="form-label mb-0"><small><b>Add <code>.gitignore</code></b></small></label>
        <select id="gitignore" class="form-select form-select-sm" name="gitignore">
          <option value="">None</option>
          <option value="go">Go</option>
          <option value="node">Node</option>
          <option value="python">Python</option>
        </select>
      </div>
    </div>
    <div class="row g-2 my-1">
      <div class="col-4">
        <label for="dockerfile" class="form-label mb-0"><small><b>Add <code>Dockerfile</code></b></small></label>
        <select id="dockerfile" class="form-select form-select-sm" name="dockerfile">
          <option value="">None</option>
          <option value="go">Go</option>
          <option value="node">Node</option>
          <option value="python">Python</option>
        </select>
      </div>
      <div class="col form-check" style="margin-top: 2.25rem;">
        <input type="checkbox" class="form-check-input" id="dockerignore" name="dockerignore" value="checked" disabled>
        <label for="dockerignore" class="form-check-label">Add <code>.dockerignore</code></label>
      </div>
    </div>
    <div class="row g-2 my-1">
      <div class="col-4">
        <label for="license" class="form-label mb-0"><small><b>Add <code>License</code></b></small></label>
        <select id="license" class="form-select form-select-sm" name="license">
          <option value="" vars="">None</option>
          {{range $key, $license:= .Licenses}}
          <option value="{{$key}}" vars="{{range $license.Vars}}{{.}},{{end}}">{{$license.Title}}</option>
          {{end}}
        </select>
      </div>
      <div class="col">
        <div class="row g-2">
          <div class="col-4" style="display: none;">
            <label for="license-year" class="form-label mb-0 text-small"><small><b>Copyright year</b></small></label>
            <input type="text" class="form-control form-control-sm" id="license-year" name="license-year" placeholder="Year" value="{{.CurrentYear}}">
          </div>
          <div class="col-4" style="display: none;">
            <label for="license-fullname" class="form-label mb-0 text-small"><small><b>Copyright holder</b></small></label>
            <input type="text" class="form-control form-control-sm" id="license-fullname" name="license-fullname" placeholder="Full name" value="{{(index .Owners 0).DisplayName}}">
          </div>
          <div class="col-4" style="display: none;">
            <label for="license-project" class="form-label mb-0 text-small"><small><b>Project name</b></small></label>
            <input type="text" class="form-control form-control-sm" id="license-project" name="license-project" placeholder="Project" value="{{.Name}}">
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2 my-1">
      <div class="col form-check">
        <input type="checkbox" class="form-check-input" id="tag" name="tag" value="v0.0.0">
        <label for="tag" class="form-check-label">Create init tag <code>v0.0.0</code></label>
      </div>
    </div>
    <hr class="my-3">

    <button type="submit" class="btn btn-success">Create 🚀</button>
  </form>
</div>
{{end}}

{{define "script"}}
<script src="/static/js/new.js"></script>
{{end}}
