name: {{.Name}}
lang: {{.Values.lang}}
schema:
  openAPIV3Schema:
    type: object
    properties:
      cronSpec:
        type: string
      image:
        type: string
      replicas:
        type: integer
